<form [formGroup]="persoanaForm" (ngSubmit)="onSave()">
    <div>
        <label>Nume:</label>
        <input type="text" formControlName="nume"/>
    </div>
    <div>
        <label>Prenume:</label>
        <input type="text" formControlName="prenume"/>
    </div>
    <div>
        <label>Email:</label>
        <input type="email" formControlName="email"/>
        
    </div>
    <div>
        <label>Dată:</label>
        <input type="datetime-local" [value]="persoanaForm.get('dataInregistrare').value | date: 'yyyy-MM-ddThh:mm'" formControlName="dataInregistrare">
    </div>
    <button type="submit" [disabled]="!persoanaForm.valid">Submit</button>
</form>
<!--<input type="number" step="0.01" xformControlName="price">-->